<div class="container">

    <div>
        <h1>Admin Node Authentication</h1>

        <a href="/admin/adlogin" class="btn btn-default"> Admin Login</a>
        <a href="/admin/adsignup" class="btn btn-default">Admin Signup</a>
    </div>

</div>
