<div class="container">

    <div class="page-header text-center">
        <h1>Profile Page</h1>
        <a href="/admin/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="well">
                <h3>Admin Profile</h3>

                    <p>
                        <strong>id</strong>: <%= admin._id %><br>
                        <strong>email</strong>: <%= admin.admin.email %><br>
                        <strong>password</strong>: <%= admin.admin.password %>
                    </p>

            </div>
        </div>

    </div>

</div>
