<p>
  <a href="/viewall">View All Courses/  </a>
  <a href="/addcourse">Add Course/  </a>
  <a href="/admin/adprofile">Profile/  </a>
  <a href="/admin/logout">Logout</a>
</p>

        <div class="col-sm-10">
            <div class="well">
                <h3>Profile Details</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                    </p>

        </div>

    </div>
