<a href="/">< Go Back to Homepage</a>
    <div>
        <h1>User Authentication</h1>

        <a href="/login" class="btn btn-default">User Login</a>
        <a href="/signup" class="btn btn-default">User Signup</a>
    </div>
